<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Updation</title>
   <style>
      body {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
         margin: 0;
     }
     form {
         text-align: center;
         padding: 20px;
         border: 1px solid #ccc;
         border-radius: 5px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     }
     h1 {
         font-size: 24px;
     }
     label {
         display: block;
         margin-top: 10px;
     }
     input {
         width: 16rem;
          padding: 10px;
         margin: 5px 0;
         border: 1px solid #ccc;
         border-radius: 3px;
     }
     input[type="submit"] {
         background-color: #007BFF;
         color: #fff;
         cursor: pointer;
     }
     input[type="submit"]:hover {
         background-color: #0056b3;
     }
     #message {
         margin-top: 20px;
     }
   </style>
</head>
<body>
  
   <form id="updateform">
       <h1>Send Request To admin to update Profile</h1>
      <label for="name"> Name:</label>
      <input type="text" id="name" name="name" required placeholder="Enter road name" />
       <label for="name"> Email:</label>
      <input type="email" id="email" name="email" required placeholder="Enter your Email" />
      <h1 id="result"></h1>
      <input type="submit">
   </form>
   <h1 id="message"></h1>
   <script>
      document.addEventListener('DOMContentLoaded', async () => {
         const updateform = document.getElementById('updateform');
         updateform.addEventListener('submit', async (e) => {
            e.preventDefault();
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            console.log(name, email)
            // Make a GET request to the same API endpoint with the token
            try {
               const response = await fetch(`/road-update-request`, {
                  method: 'Post',
                  headers: {
                     'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ name, email })
               });

               const responseData = await response.json();

               if (responseData) {
                  const result = document.getElementById('result');
                  result.innerHTML = 'your request sent successfully.';
                  console.log("updation succesful");
               } else {
                  // Handle error here
                  console.error('Error:', response.status);
               } 
            } catch (error) {
               console.error('Error:', error.message);
            }
         });
      });
   </script>
</body>

</html>